body {
    background-color: white;
}

h2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

h3 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px;
    margin-left: 100px;
    margin-top: -400px;
}

h6 {
    color: white;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
}

p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

h5 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px;
    margin-left: 150px;
}

h4 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px;
    margin-left: 10px;
}


* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

nav {
    position: fixed;
    top: 90px;
    display: flex;
    padding: 1% 18%;
    justify-content: space-between;
    background: white;
}

    nav img {
        width: 150px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 2px 13px;
        position: relative;
    }

        .nav-links ul li a {
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: red;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

.text-box {
    width: 90%;
    color: white;
}

    .text-box h1 {
        font-size: 35px;
    }

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.green {
    color: green;
    font-size: 20px;
    font-weight: 12px;
    line-height: 22px;
    padding: 10px;
}

imgage {
    height: 350px;
    width: 60px;
    padding-left: 100px;
}

.row {
    display: flex;
    margin-top: -90px;
    margin-left: 0px;
    margin-bottom: -20px;
    position: relative;
}

.row-one {
    flex-basis: 31%;
    background: b;
    border-radius: 1px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background: black;
}

.row-one-Links ul li {
    list-style: none;
    display: inline-block;
    padding: 3px 12px;
    position: relative;
}

    .row-one-Links ul li a {
        color: #4AF8CE;
        text-decoration: none;
        font-size: 15px;
    }

    .row-one-Links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: red;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .row-one-Links ul li:hover::after {
        width: 100%;
    }

.row1 {
    display: flex;
    margin-top: -350px;
    margin-left: 450px;
    background-color: white;
}

.row1-one {
    flex-basis: 31%;
    background: white;
    border-radius: 1px;
    margin-bottom: 50px;
    padding: 40px 60px;
    box-sizing: content-box;
    background: white;
    border-block-end-color:black:
}

.row1-one-Links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 70px;
    position: relative;
}

    .row1-one-Links ul li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .row1-one-Links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: red;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .row1-one-Links ul li:hover::after {
        width: 100%;
    }

.row2 {
    display: flex;
    margin-top: 0px;
    margin-left: 100px;
}

.row2-one {
    flex-basis: 31%;
    background: b;
    border-radius: 1px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background: #030A3A;
}

.row2-one-Links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

    .row2-one-Links ul li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .row2-one-Links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: red;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .row2-one-Links ul li:hover::after {
        width: 100%;
    }




.submit {
    display: flex;
    margin-top: 20px;
}

.ShowTime {
    display: flex;
    margin-left: 400px;
}

.Show {
    margin-left: 350px;
}

hr {
    margin-top: 10px;
    line-height: 10px;
    margin-left: -230px;
    margin-right: -250px;
}

.header1 {
    background-image: url(Dr.webp);
}

.center {
    margin-left: 0px;
}

.center1 {
    margin-top: -50px;
}

.Image2 {
    margin-top: 170px;
    margin-left: -100px;
}

.Label1 {
    margin-top: 1000px;
    color: black;
}

.DropDownList1 {
    color: forestgreen;
    width: 10px;
    height: 5px;
}

.Image3 {
    margin-top: 630px;
    margin-left: 20px;
}

.Image4 {
    margin-top: 700px;
    margin-left: 20px;
}

.Image6 {
    border-radius: 50%;
    background: #D9D9D9;
}

.Image7 {
    border-radius: 50%;
    background: #D9D9D9;
}

.Image8 {
    border-radius: 50%;
    background: #D9D9D9;
}

.Image9 {
    border-radius: 50%;
    margin-left: 500px;
    margin-top: -60px;
}

.image10 {
    border-radius: 50%;
    margin-left: 1100px;
    margin-top: -100px;
}

.Image11 {
    border-radius: 50%;
    margin-left: -80px;
}
.Image1 {
    margin-top:-600px;
    margin-left: 400px;
    margin-bottom:100px;
}

nav1 {
    position: fixed;
    top: 0px;
    display: flex;
    padding: 1% 20%;
    justify-content: space-between;
    background: #05CA54;
}

nav img {
    width: 150px;
}

.nav1-links {
    flex: 1;
    text-align: right;
}

    .nav1-links ul li {
        list-style: none;
        display: inline-block;
        padding: 2px 13px;
        position: relative;
    }

        .nav1-links ul li a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .nav1-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: red;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav1-links ul li:hover::after {
            width: 100%;
        }

nav1 .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav1-links ul li {
        display: block;
    }

    .nav1-links {
        position: absolute;
        background: white;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav1 .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.button1 {
    background: #05CA54;
    border: none;
    color: white;
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: -400px;
    margin-bottom: 400px;
    margin-left: 570px;
    cursor: pointer;
    border-radius: 20px;
}

.button2 {
    background: #05CA54;
    border: none;
    color: white;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 20px;
}
.button3 {
    background: #FF0909;
    border: none;
    color: white;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: -30px;
    margin-left: 400px;
    cursor: pointer;
    border-radius: 20px;
}
